<%- include ("header") %>
        <h1>Űrlények és Kolonizációik</h1>
        <p>Üdv a weboldalon, ahol nyomonkövetheted, hogy az idegen fajok mely bolygókat kolonizálták már. Kattints az alábbi linkekre, hogy tovább navigálj a weboldal további részeire!</p>
        <nav>
            <ul>
                <li><a href="/overview">Űrlények és Bolygók adatainak áttekintése</a></li>
                <li><a href="/add-new-alien">Új űrlényfaj felvétele</a></li>
                <li><a href="/add-new-planet">Új bolygó felvétele</a></li>
                <li><a href="/fish">fish</a></li>
            </ul>   
        </nav>
<%- include ("footer") %>
